:root {
    --primary: #b6895b
    --bg: #010101
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #fff;
    /* min-height: 3000px; */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: orange;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: red;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: red;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid red;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra .login {
    color: white;
    font-size: 1.2rem;
    font-family: 'poppins';
    border-radius: 8px;
    padding: 1.2rem;
    justify-content: center;
}

.navbar .navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: red;
}

#hamburger-menu {
    display: none;
}

/* Slider Home section */
.slider {
    position: relative;
    width: 100%;
    height: 100vh; /* Mengatur tinggi slider */
    overflow: hidden;
}

.slider::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%,  rgba(255, 255, 255, 0) 50%);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    color: white;
}

.slide.active {
    opacity: 1;
}

h1 {
    font-size: 3rem; 
    margin: 0;
    color: orange;
}

h1 span {
    color: red; 
}

.p {
    font-size: 1.8rem; 
    margin: 20px 0;
}

.cta {
    display: inline-block;
    padding: 15px 30px;
    background-color: red; 
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.cta:hover {
    background-color: white; 
}

/* Login Section */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-form a {
    color: white;
  }
  .login-page .form h2 {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: red;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: red;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: red;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  
/* About Section */
.about, 
.layanan, 
.contact,
.develop {
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.layanan h2, 
.contact h2,
.develop h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.layanan h2 span, 
.contact h2 span,
.develop h2 span {
    color: red;
}

.about .row,
.develop .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img {
    width: 100%;
}

.about .row .content,
.develop .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3,
.develop .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Layanan Section */
.layanan h2,
.contact h2 {
    margin-bottom: 1rem;
}

.layanan p,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.layanan .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.layanan .row .layanan-card {
    text-align: center;
    padding-bottom: 4rem;
}

.layanan .row .layanan-card img{
    border-radius: 50%;
    width: 60%;
}

.layanan .row .layanan-card .layanan-card-title {
    margin: 1rem auto 0.5rem;
}

/* Formulir Boking */
.forum {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.form-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
    height: 80px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: black;
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1.7rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: red;
    cursor: pointer;
}

/* Developer Section */
.develop .row .content {
    border: 2px red solid;
    margin: 0 1rem;
    height: 20%;
}
.develop .row .content h3 {
    border-bottom: 1px red solid;
    padding-bottom: 0.6rem;
}
.develop .row .content p {
    font-size: 1.5rem;
    font-family: 'poppins';
    padding-bottom: 0.6rem;
}
.develop .row .content h2 {
    padding-bottom: 2rem;
}
.develop .row .develop-img  img {
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: red;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: black;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: black;
    font-weight: 700;
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.4rem;
    }

    .layanan p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }
}
/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}